body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* My CSS Code*/


.navbar{
  position: fixed;
  z-index: 100;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  display: flex;
  padding: .875em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}


.coursera-logo{
  width: 8em;
  height: auto;
}

.navbar-btn{
  background-color: #0056D2 !important;
  height: 42px;
  align-self: center;
  /* margin-left: 10px !important; */
}

.navbar-btn2{
  height: 42px;
  align-self: center;
  /* margin-left: 10px !important; */
}

.search-bar{
  align-self: center;
  vertical-align: bottom !important;
}

.search-bar > label{
  font-size: .875rem !important;
}

.search-bar > div > input{
  padding: .875em !important;
}


.search-bar-btn{
  background-color: #0056D2 !important;
  z-index: 10;
  left: -5px;
  height: 47px;
  top: 7px;
  position: relative;
}

.nav-list > li{
  display: inline;
}

.nav-list{
  align-self: center;
  padding-left: 0px;
}

.nav-list a{
  text-decoration: none;
  margin-left: 10px;
  color: black;
  font-size: 1.1rem;
  font-weight: 400;
}

.nav-list a:hover{
  text-decoration: underline;
  color: #0056D2;
}

.header{
  padding: 1em;
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  justify-content: center;
}

.header-div1{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.header-div1 > h1{
  font-size: 3rem;
  margin-bottom: 0px;
}

.header-div1 > p{
  font-size: 1.5rem;
}

.header-div2 > img{
  width: 80%;
  height: auto;
}

.header-div2{
  align-self: center;
  text-align: center;
}

.article1{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 2em 0em;
  align-items: center;
  background-color: rgb(235, 235, 235);
}

.article1-div{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  flex-wrap: wrap;
}

.article1-div > ul > li{
  display: inline;
  margin-left: 15px;
}

.article1-div > ul{
  padding: 0px;
}

.article2{
  padding: 1em;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article2 > h2{
  font-size: 2rem;
}

.article2-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.article2-section-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  text-align: center;
}

.article3{
  display: flex;
  flex-direction: row;
  padding: 2em 0em;
  justify-content: center;
  margin-top: 50px;
  background-color: rgb(235, 243, 255);
}

.article3-section{
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-left: 20px;
}

.article3-section > h2{
  font-size: 2rem;
}

.article3-section > p{
  font-size: 1.5rem;
}


.signup-form-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.signup-form-section > h2{
  font-size: 2rem;
  opacity: .8;
  margin-bottom: 0px;
}

a{
  text-decoration: none;
}
